{% include 'common_head.html' %}
{% block content %}
<div class="col-sm-8 col-sm-offset-4">
<h2 >本周上线需求{{ basic["count_upline"] }}个,在测需求{{ basic["count_testing"] }}个</h2>
</div>
<table class="table table-striped">
<thead>
<tr>
<th>需求名称</th>
<th>提测人</th> 
<th>提测日期</th>
<th>测试人</th>
<th>开测日期</th>
<th>预计上线日期</th>
<th>实际上线日期</th>
<th>需求状态</th>
<th>项目组</th>
</tr>
</thead>
<tbody>
{% for item in result %}
<tr>
<td>{{item['name']}}</td>
<td>{{item['raise_man']}}</td>
<td>{{item['raise_date']}}</td>
<td>{{item['test_man']}}</td>
<td>{{item['start_date']}}</td>
<td></td>
<td>{{item['upline_date']}}</td>
{% if item['status'] == 1 %}
<td>已提测</td>
{% elif item['status'] == 2 %}
<td>测试中</td>
{% else %}
<td>已上线</td>
{% endif %}
<td>微商</td>
</tr>
{% endfor %}
{% endblock %}
{% block scripts %}
<script src="../static/jquery.js"></script>
<script>
{% endblock %}}